<!-- {{data | json}} -->
<div mat-dialog-content>
  <h2>Integration List Parameter</h2>

  <!-- <div
    style="display: flex; justify-content: flex-end; width: 100%; padding: 0"
  >
    <button
      type="button"
      class="btn btn-secondary"
      (click)="openDialogCreateIlp()"
    >
      create
    </button>
  </div> -->
  <br />

  <!-- <mat-form-field appearance="fill">
    <mat-label> name </mat-label>
    <input
      matInput
      [(ngModel)]="data.name"
      required
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field> -->

  <div class="d-flex">
    <h3>Name :</h3>
    <input
      type="text"
      class="form-control half"
      [ngClass]="{
        'is-valid': name.valid && name.touched,
        'is-invalid': !name.valid && name.touched
      }"
      id="name"
      required
      [(ngModel)]="data.name"
      name="name"
      #name="ngModel"
      style="width: 50%; margin-left: 80px"
    />
  </div>
  <br />
  <!-- <mat-form-field appearance="fill">
    <mat-label> description </mat-label>
    <input
      matInput
      [(ngModel)]="data.description"
      required
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field> -->

  <div class="d-flex">
    <h3>Description :</h3>
    <textarea
      type="text"
      class="form-control half"
      [ngClass]="{
        'is-valid': description.valid && description.touched,
        'is-invalid': !description.valid && description.touched
      }"
      id="description"
      [(ngModel)]="data.description"
      name="description"
      #description="ngModel"
      style="width: 50%; margin-left: 40px"
    ></textarea>
  </div>
</div>
<div style="display: flex; justify-content: flex-end; width: 100%; padding: 0">
  <button
    type="button"
    style="margin-right: 8px"
    class="btn btn-info"
    (click)="popUpClose()"
    cdkFocusInitial
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-light"
    mat-button
    (click)="onNoClick()"
    cdkFocusInitial
  >
    Cancel
  </button>
</div>
<br />

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Value</th>
      <th scope="col">Default value</th>
      <th scope="col">
        <button mat-icon-button title="Add Ilp Row" (click)="addIlpRows()">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add"
          ></mat-icon>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rowData of ilpRows; let i=index">
      <td>
        <span *ngIf="rowData.show !== 'edit'"> {{ rowData.name }}</span>
        <input
          *ngIf="rowData.show === 'edit'"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-valid': ilpName1.valid && ilpName1.touched,
            'is-invalid': !ilpName1.valid && ilpName1.touched
          }"
          #ilpName1="ngModel"
          required
          name="ilpName1"
          [(ngModel)]="rowData.name"
        />
      </td>
      <td>
        <span *ngIf="rowData.show !== 'edit'"> {{ rowData.description }}</span>
        <span *ngIf="rowData.show === 'edit'">
          <textarea
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': description.valid && description.touched,
              'is-invalid': !description.valid && description.touched
            }"
            #description="ngModel"
            required
            name="ilpDesc"
            id="ilpDesc"
            [(ngModel)]="rowData.description"
          ></textarea>
        </span>
      </td>
      <td>
        <span *ngIf="rowData.show !== 'edit'"> {{ rowData.value }}</span>
        <span *ngIf="rowData.show === 'edit'">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': ilpValue.valid && ilpValue.touched,
              'is-invalid': !ilpValue.valid && ilpValue.touched
            }"
            #ilpValue="ngModel"
            required
            name="ilpValue"
            [(ngModel)]="rowData.value"
          />
        </span>
      </td>
      <td>
        <span *ngIf="rowData.show !== 'edit'"> {{ rowData.defaultValue }}</span>

        <input
          *ngIf="rowData.show === 'edit'"
          class="form-check-input"
          type="checkbox"
          id="ilpDefaultValue"
          [(ngModel)]="rowData.defaultValue"
          name="ilpDefaultValue"
        />
      </td>
      <td>
        <button
          *ngIf="rowData.show !== 'edit'"
          title="Edit Ilp Row"
          mat-icon-button
          (click)="editIlp(rowData)"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
          ></mat-icon>
        </button>

       

        <button
          *ngIf="rowData.show === 'edit'"
          [disabled]="!(rowData.name && rowData.description && rowData.value)"
          (click)="saveIlp(rowData)"
          mat-icon-button
          title="Save Ilp Row"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="save"
          ></mat-icon>
        </button>
        <button
        (click)="deleteIlp(ilpRows, i)"
        mat-icon-button
        title="Delete Ilp Row"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="delete"
        ></mat-icon>
      </button>
      </td>
    </tr>
  </tbody>
</table>
