
.childform{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    position: relative;
}

.scc-headers > .scc-header-inner > .mat-card {
    padding: 0px;
}

.half{
    width: 50%;
}

