<!-- <p>static-content works!</p> -->
<div class="form-group" viewContainerRef>
    <!-- <fieldset ngModelGroup = "config"> -->
        <div class="d-flex justify-content-between">
    <legend>Config : </legend>
    <!-- add delete function -->
    <!-- <button type="button" class="btn btn-danger" style="margin-right:20px ;" >Delete</button> -->
</div>
    <br>
    <label> Content :</label>
    <input type = "text" id="content"  class="form-control" required ngModel name="content">
    <br>
    <!-- <div class="form-inline"> -->
        <div class="form-group">
    <div formArrayName = "headers" >
        <!-- <fieldset ngModelGroup="Headers"> -->
        <div class="d-flex justify-content-between">
        <div >Headers :</div>
        <div><button class = "btn btn-primary">Add</button></div>
        </div>

    

        <label>TemplateName : </label>
        <input type = "text" class="form-control" id = "tempName"  required  ngModel placeholder="Enter TemplateName" name = "tempName"> 

        
        <label>Headers : </label>
        <input type = "text" class="form-control" id = "headers"   required ngModel placeholder="Enter Headers" name ="headers">
    <!-- </fieldset> -->
    </div>
</div>
<!-- </div> -->
   
    <!-- <div>Headers :</div>
    <div><button class = "btn btn-primary">Add</button></div>
    
</div> -->

   <!-- <div formArrayName = "headers">

        <label>TemplateName : </label>
        <input type = "text" id = "tempName" class="form-control">

        
        <label>Headers : </label>
        <input type = "text" id = "headers" class="form-control">

    </div>  -->
<!-- </div>
</div> -->
<!-- </fieldset> -->

</div>
<!-- <pre>{{ staticForm.value | json }}</pre> -->