<!-- <p>steps-config works!</p> -->
<div class="form-group" #viewContainerRef>
    
    <br>
    <div style="margin: auto;">
  
        
      <br>
      <!-- <div class="form-group"> -->
        <div class="d-flex justify-content-between">
          <div><label for="name">Name</label></div>
          <div style="width:50% ;"><input type="text" class="form-control" id="name" required ngModel placeholder="Enter Name"  name="name"></div>
        </div>
        <br>
          <div class="d-flex justify-content-between">
          <div><label for="title">Title</label></div>
          <div style="width:50% ;"><input type="text" class="form-control" id="title" required ngModel placeholder="Enter Title"  name="title"></div>
          </div>
        <br>
        <div class="form-group d-flex justify-content-between">
          <div><label for="descrition">Description</label></div>
          <div  style ="width : 50%;"><input type="text" class="form-control" id="desc" required ngModel  placeholder="Enter Description" name="desc"></div>
        </div>
        <br>


          <div class="d-flex justify-content-center">

            <button type="button" class="btn btn-primary" style="margin-right:20px ;" id="sc" (click)="AddStaticContent($event)">Add Overview</button>
           
            <!-- <button type="button" id="myBtn" class="btn btn-primary" style="margin-right:20px ;">Add Overview</button>
            <script>
             var element = document.getElementById("myBtn");
             element.addEventListener("click", AddStaticContent);
            </script> -->
      
            <button type="button" class="btn btn-primary" style="margin-right:20px;" id="api" (click)="AddApiDisplay($event)">Add Setup</button>
      
            <button type="button" class="btn btn-primary" id="spe" (click)="AddStaticPageEntry($event)">Add Parameters</button>
      
          </div>
        <!-- <app-static-page-entry>

        </app-static-page-entry> -->

       <!-- <app-static-content>
        
       </app-static-content> -->
       
       <!-- <app-api-display> 

       </app-api-display> -->

        <!-- <div class = "ETF_Sec">
          
        </div> -->
        <!-- <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" style="margin-right:20px ;">Save</button> 
        <button type="button" class="btn btn-primary" style="margin-right:20px ;">Reset</button>
        <button type="button" class="btn btn-primary">Finish</button> -->
      </div>
    <!-- <div>
        <app-static-content>

        </app-static-content>
        
    </div> -->
</div>

