<!-- <p>steps-config works!</p> -->
<div class="form-group" #viewContainerRef>
    
    <br>
    <!-- <div style="margin: auto;">
  
        
      <br>
        <div class="d-flex justify-content-between">
          <div><label for="name">Name</label></div>
          <div style="width:50% ;"><input type="text" class="form-control" id="name" required ngModel placeholder="Enter Name"  name="name"></div>
        </div>
        <br>
          <div class="d-flex justify-content-between">
          <div><label for="title">Title</label></div>
          <div style="width:50% ;"><input type="text" class="form-control" id="title" required ngModel placeholder="Enter Title"  name="title"></div>
          </div>
        <br>
        <div class="form-group d-flex justify-content-between">
          <div><label for="descrition">Description</label></div>
          <div  style ="width : 50%;"><input type="text" class="form-control" id="desc" required ngModel  placeholder="Enter Description" name="desc"></div>
        </div>
        <br>


          <div class="d-flex justify-content-center">

            <button type="button" class="btn btn-primary" style="margin-right:20px ;" id="sc" (click)="AddStaticContent($event)">Add Overview</button>

      
            <button type="button" class="btn btn-primary" style="margin-right:20px;" id="api" (click)="AddApiDisplay()">Add Setup</button>
      
            <button type="button" class="btn btn-primary" id="spe" (click)="AddStaticPageEntry()">Add Parameters</button>
      
          </div>
   
       
      </div> -->
    
      <app-static-content>

      </app-static-content>
 
      <br>

      <app-api-display>

      </app-api-display>
      <br>
      <!-- <h5>Api Display Component </h5>
      <br>
      <app-api-display>

      </app-api-display> -->
 

    <!-- <div>
        <app-static-content>

        </app-static-content>
        
    </div> -->
</div>

