<!-- {{data | json}} -->
<div mat-dialog-content>
  <h2>Create Parameter Value</h2>

  <div class="d-flex justify-content-between">
    <h3>Name :</h3>
    <input
      type="text"
      class="form-control half"
      id="name"
      required
      [(ngModel)]="data.name"
      name="name"
      style="width: 70%"
    />
  </div>
  <br>

  <div class="d-flex justify-content-between">
    <h3>Description :</h3>
    <textarea
      type="text"
      class="form-control half"
      id="description"
      rows="5"
      cols="40"
      required
      [(ngModel)]="data.description"
      name="description"
      style="width: 70%"
    ></textarea>
  </div>
<br>
  <div class="d-flex justify-content-between">
    <h3>Value :</h3>
    <input
      type="text"
      class="form-control half"
      id="value"
      [(ngModel)]="data.value"
      name="value"
      style="width: 70%"
    />
  </div>
  <br>
  <div>
    <label>Default Value :</label>
    <input
      type="checkbox"
      checked
      id="defaultValue"
      [(ngModel)]="data.defaultValue"
      name="defaultValue"
      style="margin-left: 50px;"
    />
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="popUpClose()" cdkFocusInitial>Save</button>
</div>
