<!-- <h1 mat-dialog-title>Hi </h1> -->
<div mat-dialog-content>
  <p>Enter Boomi details</p>
  <mat-form-field appearance="fill">
    <mat-label>Account Id</mat-label>
    <input matInput [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Environment Id</mat-label>
    <input matInput [(ngModel)]="data.password" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</div>
<div mat-dialog-actions>
 
  <button mat-button (click)="popUpClose()" cdkFocusInitial>Submit</button>
</div>
