<div mat-dialog-content>
  <p>Enter Boomi details</p>
  <mat-form-field appearance="fill">
    <mat-label>process name</mat-label>
    <input  matInput [(ngModel)]="data.processName" required [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>process type</mat-label>
    <input matInput [(ngModel)]="data.processType" required [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="popUpClose()" cdkFocusInitial>Submit</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
</div>
