.parentform{
    background-color: rgb(200, 224, 208);
}

.childform{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}

.scc-headers > .scc-header-inner > .mat-card {
    padding: 0px;
}

.half{
    width: 50%;
}

