<!-- <form #userPost = "ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <input type="text" name ="id" ngModel placeholder="id"> <br>
    <input type="text" name = "name" ngModel placeholder="name"> <br>
    <input type="text" name="ipackname" ngModel placeholder="ipackname"><br>
    <input type="number" name="version" ngModel placeholder="version"><br>
  
    <button type="submit">Create</button>
</form> -->

<!-- <pm-add-metadata></pm-add-metadata> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
{{ metadata | json }}
<div class="childform" style="width: 70%">
  <!-- <form class="form-group">  -->

  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group">
      <div class="d-flex justify-content-between">
        <div><label for="id">ID</label></div>

        <input
          type="text"
          class="form-control half"
          id="id"
          [(ngModel)]="metadata.id"
          #id="ngModel"
          required
          placeholder="Enter ID"
          name="id"
        />

        <!-- required [(ngModel)]="metadata.metadataID" name="id"-->
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="d-flex justify-content-between">
        <div><label for="InputName">Name</label></div>

        <input
          type="text"
          class="form-control half"
          id="metadataName"
          [(ngModel)]="metadata.metadataName"
          #metadataName="ngModel"
          required
          placeholder="Enter Name"
          name="metadataName"
        />
      </div>
      <br />
      <div class="form-group d-flex justify-content-between">
        <div><label for="versionHC">Version</label></div>

        <input
          type="number"
          class="form-control half"
          id="version"
          [(ngModel)]="metadata.version"
          #version="ngModel"
          required
          placeholder="Enter version"
          name="version"
        />
      </div>
      <br />
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div><label for="InputIName">IpackName</label></div>

          <input
            type="text"
            class="form-control half"
            id="ipackName"
            [(ngModel)]="metadata.ipackName"
            #ipackName="ngModel"
            required
            placeholder="Enter IpackName"
            name="ipackName"
          />
        </div>

        <div class="d-flex justify-content-between">
          <small id="iname_note" class="form-text text-muted"
            >Note- IpackName should be same as Name.</small
          >
          <button
            (click)="checkBoomi()"
            type="button"
            class="btn btn-primary"
            style="margin-top: 10px; padding: 0px 10px"
          >
            Verify
          </button>
        </div>
      </div>
      <br />
      <ng-container *ngFor="let section of metadata.sections;let i=index">
        <div *ngFor="let step of section.steps" class="step-container">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ step.name }} </mat-panel-title>
                <mat-panel-description>
                  Please open this panel.
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="sections">
                <div class="form-group" #viewContainerRef>
                  <br />
                  <div style="margin: auto">
                    <br />
                    <!-- <div class="form-group"> -->
                    <div class="d-flex justify-content-between">
                      <div><label for="name">Name</label></div>

                      <input
                        type="text"
                        class="form-control half"
                        id="name"
                        required
                        disabled
                        [(ngModel)]="step.name"
                        placeholder="Enter Name"
                        name="{{'name' + i}}"
                      />
                      <!-- </div> -->
                    </div>
                    <br />
                    <div class="d-flex justify-content-between">
                      <div><label for="title">Title</label></div>

                      <input
                        type="text"
                        class="form-control half"
                        id="title"
                        required
                        [(ngModel)]="step.title"
                        placeholder="Enter Title"
                        name="title"
                      />
                    </div>
                    <br />
                    <div class="d-flex justify-content-between">
                      <div><label for="descrition">Description</label></div>

                      <input
                        type="text"
                        class="form-control half"
                        id="desc"
                        required
                        [(ngModel)]="step.description"
                        placeholder="Enter Description"
                        name="desc"
                      />
                    </div>
                    <br />
                  
                    
                    <ng-container
                      *ngIf="step.componentName === 'StaticContentComponent'"
                    >
                    <div class="d-flex justify-content-between">
                      <div><label for="content">content</label></div>

                      <input
                        type="text"
                        class="form-control half"
                        id="content"
                        required
                        [(ngModel)]="step.config.content"
                        placeholder="Enter content"
                        name="content"
                      />
                    </div>
                    <hr />
                      <h3 for="headers">Headers</h3>
                      <div><button type="button" class="btn btn-primary"
                        (click)="addInput(step?.config?.headers)">Add</button></div>

                      <div *ngFor="let header of step.config.headers">
                        <div class="d-flex justify-content-between">
                          <label for="templateName">Template Name</label>
                          <input
                            type="text"
                            class="form-control half"
                            id="templateName"
                            required
                            [(ngModel)]="header.templateName"
                            placeholder="Enter Template Name"
                            name="templateName"
                          />
                        </div>
                        <br />
                      
                        <div class="d-flex justify-content-between">
                          <label for="headerString">Header String </label>
                          <input
                            type="text"
                            class="form-control half"
                            id="headerString"
                            required
                            [(ngModel)]="header.headerString"
                            placeholder="Enter Header String"
                            name="headerString"
                          />
                        </div>
                      </div>
                      <br>
                    </ng-container>
                  </div>
                </div>
              </div>
              <br />
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ng-container>
      <br />
      <div class="ETF_Sec"></div>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary"
          style="margin-right: 20px"
        >
          Submit
        </button>
        <button type="reset" class="btn btn-primary" style="margin-right: 20px">
          Reset
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          style="margin-right: 20px"
        >
          Save
        </button>

        <!-- <li><a class="btn btn-success btn-space" routerLinkActive='active' routerLink='/createMetadata'>Create</a></li> -->
      </div>
    </div>
  </form>

  <button (click)="get()" class="btn btn-primary">Get</button>
</div>
