<!-- {{ metadata | json }} -->
<div class="childform" style="width: 70%">
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="d-flex justify-content-between">
        <div><label for="id">ID</label></div>
        <input
          type="text"
          class="form-control half"
          id="id"
          disabled
          [(ngModel)]="metadata.id"
          #id="ngModel"
          required
          placeholder="Enter ID"
          name="id"
        />
      </div>
    </div>
    <br />
    <div class="form-group">
      <div class="d-flex justify-content-between">
        <div><label for="InputName">Name</label></div>
        <input
          type="text"
          class="form-control half"
          id="metadataName"
          [(ngModel)]="metadata.metadataName"
          #metadataName="ngModel"
          required
          placeholder="Enter Name"
          name="metadataName"
        />
      </div>
      <br />
      <div class="form-group d-flex justify-content-between">
        <div><label for="versionHC">Version</label></div>
        <input
          type="number"
          class="form-control half"
          id="version"
          disabled
          [(ngModel)]="metadata.version"
          #version="ngModel"
          required
          placeholder="Enter version"
          name="version"
        />
      </div>
      <br />
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <div><label for="InputIName">IpackName</label></div>
          <input
            type="text"
            class="form-control half"
            id="ipackName"
            [(ngModel)]="metadata.ipackName"
            #ipackName="ngModel"
            required
            placeholder="Enter IpackName"
            name="ipackName"
          />
        </div>
        <div style="padding-top: 1rem" class="d-flex justify-content-between">
          <small id="iname_note" class="form-text text-muted"
            >Note- IpackName should be same as Name.</small
          >
          <button
            (click)="openDialog()"
            type="button"
            [disabled]="!metadata.ipackName"
            class="btn btn-primary"
          >
            Verify
          </button>
          <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
        </div>
      </div>
      <br />
      <ng-container *ngIf="isIpackNameValidated">
        <ng-container *ngFor="let section of metadata.sections; let i = index">
          <div *ngFor="let step of section.steps" class="step-container">
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>{{ step.name }} </mat-panel-title>
                  <mat-panel-description>
                    Please open this panel.
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="sections">
                  <div class="form-group" #viewContainerRef>
                    <br />
                    <div style="margin: auto">
                      <br />
                      <!-- <div class="form-group"> -->
                      <div class="d-flex justify-content-between">
                        <div><label for="name">Name</label></div>
                        <input
                          type="text"
                          class="form-control half"
                          id="name"
                          required
                          disabled
                          [(ngModel)]="step.name"
                          placeholder="Enter Name"
                          name="name-{{ step.componentName }}"
                          #name="ngModel"
                        />
                      </div>
                      <br />
                      <div class="d-flex justify-content-between">
                        <div><label for="title">Title</label></div>
                        <input
                          type="text"
                          class="form-control half"
                          id="title"
                          required
                          [(ngModel)]="step.title"
                          placeholder="Enter Title"
                          name="title-{{ step.componentName }}"
                        />
                      </div>
                      <br />
                      <div class="d-flex justify-content-between">
                        <div><label for="descrition">Description</label></div>
                        <input
                          type="text"
                          class="form-control half"
                          id="desc"
                          required
                          [(ngModel)]="step.description"
                          placeholder="Enter Description"
                          name="desc-{{ step.componentName }}"
                        />
                      </div>
                      <br />
                      <ng-container [ngSwitch]="step.componentName">
                        <ng-container *ngSwitchCase="'StaticContentComponent'">
                          <ng-container
                            *ngTemplateOutlet="
                              staticContentComponent;
                              context: { step: step }
                            "
                          ></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'APIDisplayComponent'">
                          <ng-container
                            *ngTemplateOutlet="
                              apiDisplayComponent;
                              context: { step: step }
                            "
                          ></ng-container>
                        </ng-container>
                        <ng-container
                          *ngSwitchCase="'StaticPageEntryComponent'"
                        >
                          <ng-container
                            *ngTemplateOutlet="
                              staticPageEntryComponent;
                              context: { step: step }
                            "
                          ></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'CRTOverviewComponent'">
                          <ng-container
                            *ngTemplateOutlet="
                              crtOverviewComponent;
                              context: { step: step }
                            "
                          ></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'DimensionsSchedulingComponent'">
                          <ng-container
                            *ngTemplateOutlet="
                            dimensionsSchedulingComponent;
                              context: { step: step }
                            "
                          ></ng-container>
                        </ng-container>
                        <div *ngSwitchDefault>No component Available</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <br />
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </ng-container>
      </ng-container>
      <br />
      <div class="ETF_Sec"></div>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary"
          style="margin-right: 20px"
        >
          Submit
        </button>
        <button type="reset" class="btn btn-primary" style="margin-right: 20px">
          Reset
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          style="margin-right: 20px"
        >
          Save
        </button>
      </div>
    </div>
  </form>

  <button (click)="get()" class="btn btn-primary">Get</button>
</div>

<ng-template #staticContentComponent let-step="step">
  <div class="d-flex justify-content-between">
    <div><label for="content">content</label></div>

    <input
      type="text"
      class="form-control half"
      id="content"
      required
      [(ngModel)]="step?.config.content"
      placeholder="Enter content"
      name="content"
    />
  </div>
  <hr />
  <h3 for="headers">Headers</h3>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="addHeaders(step?.config?.headers)"
    >
      Add
    </button>
  </div>

  <div *ngFor="let header of step.config.headers">
    <div class="d-flex justify-content-between">
      <label for="templateName">Template Name</label>
      <input
        type="text"
        class="form-control half"
        id="templateName"
        required
        [(ngModel)]="header.templateName"
        placeholder="Enter Template Name"
        name="templateName"
      />
    </div>
    <br />

    <div class="d-flex justify-content-between">
      <label for="headerString">Header String </label>
      <input
        type="text"
        class="form-control half"
        id="headerString"
        required
        [(ngModel)]="header.headerString"
        placeholder="Enter Header String"
        name="headerString"
      />
    </div>
  </div>
  <br
/></ng-template>
<ng-template #apiDisplayComponent let-step="step">
  <div class="d-flex justify-content-between">
    <div>Rows :</div>
    <div>
      <button class="btn btn-primary" (click)="addRows(step?.config?.rows)">
        Add
      </button>
    </div>
  </div>

  <div>
    <div *ngFor="let row of step.config.rows">
      <legend>Input :</legend>
      <div class="d-flex justify-content-between">
        <label>hint :</label>
        <input
          type="text"
          class="form-control half"
          id="hint"
          required
          [(ngModel)]="row.input.hint"
          placeholder="hint"
          name="hint"
        />
      </div>
      <br />
      <div class="d-flex justify-content-between">
        <label>name :</label>
        <input
          type="text"
          class="form-control half"
          id="name"
          required
          [(ngModel)]="row.input.name"
          placeholder="name"
          name="name"
        />
      </div>
      <br />
      <div class="d-flex justify-content-between">
        <label>placeholder :</label>
        <input
          type="text"
          class="form-control half"
          id="placeholder"
          required
          [(ngModel)]="row.input.placeholder"
          placeholder="placeholder"
          name="placeholder"
        />
      </div>
      <br />
      <div class="d-flex justify-content-between">
        <label>type :</label>
        <input
          type="text"
          class="form-control half"
          id="type"
          required
          [(ngModel)]="row.input.type"
          placeholder="type"
          name="type"
        />
      </div>
      <br />
      <div>
        <div class="d-flex justify-content-between">
          <div>validations :</div>
          <div>
            <button
              class="btn btn-primary"
              (click)="addValidations(row.input.validations)"
            >
              Add
            </button>
          </div>
        </div>
        <div>
          <div *ngFor="let validation of row.input.validations">
            <div class="d-flex justify-content-between">
              <label>type :</label>
              <input
                type="text"
                class="form-control half"
                id="type"
                required
                [(ngModel)]="validation.type"
                placeholder="type"
                name="type"
              />
            </div>
            <br />
            <div class="d-flex justify-content-between">
              <label>value :</label>
              <input
                type="text"
                class="form-control half"
                id="value"
                required
                [(ngModel)]="validation.value"
                placeholder="value"
                name="value"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="d-flex justify-content-between">
    <label> ddLabel :</label>
    <input
      placeholder="ddLabel"
      class="form-control half"
      type="text"
      id="ddLabel"
      required
      [(ngModel)]="step.config.ddLabel"
      name="ddLabel"
    />
  </div>
  <br />
  <div class="d-flex justify-content-between">
    <label>transferFieldKey : </label>
    <input
      type="text"
      class="form-control half"
      id="tFK"
      required
      [(ngModel)]="step.config.tFK"
      placeholder="tFK"
      name="tFK"
    />
  </div>
  <br />
  <div>
    <div>sourceApi :</div>
    <div class="d-flex justify-content-between">
      <label> Path :</label>
      <input
        placeholder="Path"
        class="form-control half"
        id="path"
        required
        [(ngModel)]="step.config.sourceApi.path"
        name="path"
      />
    </div>
    <br />
    <div class="d-flex justify-content-between">
      <label> AuthType :</label>
      <input
        placeholder="AuthType"
        class="form-control half"
        id="authType"
        required
        [(ngModel)]="step.config.sourceApi.authType"
        name="authType"
      />
    </div>
    <br />
    <div class="d-flex justify-content-between">
      <label> IdField :</label>
      <input
        placeholder="IdField"
        class="form-control half"
        id="idField"
        required
        [(ngModel)]="step.config.sourceApi.idField"
        name="idField"
      />
    </div>
    <br />
    <div class="d-flex justify-content-between">
      <label> LabelField : </label>
      <input
        placeholder="LabelField"
        class="form-control half"
        id="LabelField"
        required
        [(ngModel)]="step.config.sourceApi.LabelField"
        name="LabelField"
      />
    </div>
    <br />
  </div>

  <br />

  <div>
    <div class="d-flex justify-content-between">
      <div>DisplayItems</div>
      <div>
        <button
          class="btn btn-primary"
          (click)="addDisplayItem(step.config.displayItems)"
        >
          Add
        </button>
      </div>
    </div>
    <br />
    <div>
      <div *ngFor="let displayItem of step.config.displayItems">
        <div class="d-flex justify-content-between">
          <label>FieldName :</label>
          <input
            type="text"
            class="form-control half"
            id="fieldName"
            required
            [(ngModel)]="displayItem.fieldName"
            placeholder="FieldName"
            name="fieldName"
          />
        </div>
        <br />
        <div class="d-flex justify-content-between">
          <label>Label :</label>
          <input
            type="text"
            class="form-control half"
            id="label"
            required
            [(ngModel)]="displayItem.label"
            placeholder="Label"
            name="label"
          />
        </div>
        <br />
        <div>
          <label>secure :</label>
          <input
            type="checkbox"
            checked
            id="secure"
            required
            [(ngModel)]="displayItem.secure"
            name="secure"
          />
        </div>
      </div>
    </div>
  </div>

  <br />
  <label>Test Configuration :</label>
  <input
    type="checkbox"
    checked
    id="testConfigure"
    required
    [(ngModel)]="step.config.testConfigure"
    name="testConfigure"
  />

  <div>Test API :</div>
  <div class="form-group">
    <div class="d-flex justify-content-between">
      <label> AuthType : </label>
      <input
        class="form-control half"
        type="text"
        id="authType"
        required
        [(ngModel)]="step.config.authType"
        placeholder="authtype"
        name="authType"
      />
    </div>
  </div>
</ng-template>
<ng-template #staticPageEntryComponent let-step="step">
  <div>valuePopulatedApi :</div>
  <br />
  <fieldset>
    <div class="d-flex justify-content-between">
      <label>url</label>
      <input
        type="text"
        class="form-control half"
        id="url"
        required
        [(ngModel)]="step.config.valuePopulatedApi.url"
        name="url"
      />
    </div>

    <br />

    <div class="d-flex justify-content-between">
      <label>authType :</label>
      <input
        type="text"
        class="form-control half"
        id="authType"
        required
        [(ngModel)]="step.config.valuePopulatedApi.authType"
        name="authType"
      />
    </div>
  </fieldset>
  <br />

  <div class="d-flex justify-content-between">
    <div>Rows :</div>
    <div>
      <button class="btn btn-primary" (click)="addRowsSpe(step.config.rows)">
        Add
      </button>
    </div>
  </div>
  <br />

  <div>
    <div class="form-group">
      <div *ngFor="let rowspe of step.config.rows">
        <legend>Inupt :</legend>

        <div class="d-flex justify-content-between">
          <label>Name :</label>
          <input
            type="text"
            class="form-control half"
            id="name"
            required
            [(ngModel)]="rowspe.input.name"
            placeholder="name"
            name="name"
          />
        </div>
        <br />

        <fieldset>
          <div>SaveValueAsObjectConfiguration :</div>
          <br />
          <div class="d-flex justify-content-between">
            <label>EditableProperty :</label>
            <input
              type="text"
              class="form-control half"
              id="editableProperty"
              required
              [(ngModel)]="
                rowspe.input.saveValueAsObjectConfiguration.editableProperty
              "
              name="editableProperty"
            />
          </div>
          <br />
          <fieldset>
            <div>StaticObjectProperties :</div>
            <br />
            <div class="d-flex justify-content-between">
              <label>Name :</label>
              <input
                type="text"
                class="form-control half"
                id="name"
                required
                [(ngModel)]="
                  rowspe.input.saveValueAsObjectConfiguration
                    .staticObjectProperties.name
                "
                placeholder="name"
                name="name"
              />
            </div>
            <br />
            <div class="d-flex justify-content-between">
              <label>UserPrompted :</label>
              <input
                type="text"
                class="form-control half"
                id="userPrompted"
                [(ngModel)]="
                  rowspe.input.saveValueAsObjectConfiguration
                    .staticObjectProperties.userPrompted
                "
                placeholder="userPrompted"
                name="userPrompted"
              />
            </div>

            <div class="d-flex justify-content-between">
              <label>ParameterType :</label>
              <input
                type="text"
                class="form-control half"
                id="parameterType"
                required
                [(ngModel)]="
                  rowspe.input.saveValueAsObjectConfiguration
                    .staticObjectProperties.parameterType
                "
                placeholder="parameterType"
                name="parameterType"
              />
            </div>
          </fieldset>
        </fieldset>
        <br />
        <div class="d-flex justify-content-between">
          <label>DefaultValue :</label>
          <input
            type="text"
            class="form-control half"
            id="defaultValue"
            required
            [(ngModel)]="rowspe.input.defaultValue"
            placeholder="defaultValue"
            name="defaultValue"
          />
        </div>
        <br />
        <div class="d-flex justify-content-between">
          <label>Hint :</label>
          <input
            type="text"
            class="form-control half"
            id="hint"
            required
            [(ngModel)]="rowspe.input.hint"
            placeholder="hint"
            name="hint"
          />
        </div>
        <br />

        <div class="d-flex justify-content-between">
          <label>Type :</label>
          <input
            type="text"
            class="form-control half"
            required
            id="type"
            [(ngModel)]="rowspe.input.type"
            placeholder="type"
            name="type"
          />
        </div>
        <br />
        <div class="d-flex justify-content-between">
          <label>Label :</label>
          <input
            type="text"
            class="form-control half"
            required
            id="label"
            [(ngModel)]="rowspe.label"
            placeholder="label"
            name="label"
          />
        </div>
      </div>
    </div>
    <br />
  </div>
</ng-template>
<ng-template #crtOverviewComponent let-step="step">
  <br />

  <div class="d-flex justify-content-between">
    <label>description</label>
    <input
      type="text"
      class="form-control half"
      id="description"
      required
      [(ngModel)]="step.config.description"
      name="description"
    />
  </div>

  <br />

  <div class="d-flex justify-content-between">
    <label>transferFieldKey :</label>
    <input
      type="text"
      class="form-control half"
      id="transferFieldKey"
      required
      [(ngModel)]="step.config.transferFieldKey"
      name="transferFieldKey"
    />
  </div>
  <br />
  <div class="d-flex justify-content-between">
    <div>files :</div>
    <div>
      <button class="btn btn-primary" (click)="addFiles(step.config.files)">
        Add
      </button>
    </div>
  </div>
  <br />

  <div *ngFor="let file of step.config.files">
    <div class="d-flex justify-content-between">
      <label>crtName :</label>
      <input
        type="text"
        class="form-control half"
        id="crtname"
        required
        [(ngModel)]="file.crtName"
        placeholder="name"
        name="crtname"
      />
    </div>
    <br />
    <div class="d-flex justify-content-between">
      <label>headerRow :</label>
      <input
        type="text"
        class="form-control half"
        id="headerRow"
        required
        [(ngModel)]="file.headerRow"
        placeholder="headerRow"
        name="headerRow"
      />
    </div>
  </div>
  <br />
  <div>fileApi :</div>
  <br />
  <div class="d-flex justify-content-between">
    <label>path :</label>
    <input
      type="text"
      class="form-control half"
      id="path"
      required
      [(ngModel)]="step.config.filesApi.path"
      name="path"
    />
  </div>
  <br />
  <div class="d-flex justify-content-between">
    <label>authType :</label>
    <input
      type="text"
      class="form-control half"
      id="authType"
      required
      [(ngModel)]="step.config.filesApi.authType"
      name="authType"
    />
  </div>
  <br />
  <div>DownloadApi :</div>
  <br />
  <div class="d-flex justify-content-between">
    <label>path :</label>
    <input
      type="text"
      class="form-control half"
      id="path"
      required
      [(ngModel)]="step.config.downloadApi.path"
      name="path"
    />
  </div>
  <br />
  <div class="d-flex justify-content-between">
    <label>authType :</label>
    <input
      type="text"
      class="form-control half"
      id="authType"
      required
      [(ngModel)]="step.config.downloadApi.authType"
      name="authType"
    />
  </div>
</ng-template>
<ng-template #dimensionsSchedulingComponent let-step="step">
  <br />

  <div class="d-flex justify-content-between">
    <label>description</label>
    <input
      type="text"
      class="form-control half"
      id="description"
      required
      [(ngModel)]="step.config.description"
      name="description"
    />
  </div>

  <br />

 
  <div class="d-flex justify-content-between">
    <div>runOptions :</div>
    
  </div>
  <br />
    <div class="d-flex justify-content-between">
      <label>sectionLabel :</label>
      <input
        type="text"
        class="form-control half"
        id="sectionLabel"
        required
        [(ngModel)]="step.config.runOptions.sectionLabel"
        placeholder="name"
        name="sectionLabel"
      />
    </div>
    <br />
    <div class="d-flex justify-content-between">
      <label>scheduleLabel :</label>
      <input
        type="text"
        class="form-control half"
        id="scheduleLabel"
        required
        [(ngModel)]="step.config.runOptions.scheduleLabel"
        placeholder="name"
        name="scheduleLabel"
      />
    </div>
    <br  />
    <div class="d-flex justify-content-between">
      <label>manualLabel :</label>
      <input
        type="text"
        class="form-control half"
        id="manualLabel"
        required
        [(ngModel)]="step.config.runOptions.manualLabel"
        placeholder="name"
        name="manualLabel"
      />
    </div>
   

</ng-template>